body{
	background-color: #d5fff7;
	font-family: Roboto,Sans-serif;
}
.form{
	height: 1100px;
	width: 900px;
	margin: auto;
}
.required{
font-size: 13px;
color: red;
}
.title-div{
	height: 180px;
	width: 800px;
	background-color: #FDFEFE;
	margin: 15px;
	border-radius: 8px;
	border-top: 8px solid #1abc9c;
	padding: 25px;
}
.name-div, .college-div, .gmail-div, .mobile-div{
	height: 200px;
	width: 850px;
	background-color: #FDFEFE;
	margin: 10px;
	border-radius: 8px;
}
.college-div{
	height: 250px;
}
.name{
	padding-top: 20px;
	padding-left: 25px;
	padding-bottom: 5px;
	font-size: 15px;
}
.input-div{
	padding-top: 15px;
	padding-left: 25px;
}

/* .input-div input{
	width: 800px;
	white-space: nowrap;
	border: 0;
	outline: 0;
	border-bottom: 1.5px solid #DCD7D7; 
	font-size: 12px;
} */
.name-div input{
	padding-left: 50px;
}
.btn{
	height: 36px;
	width: 100px;
	background-color: #1abc9c;
	border-radius: 5px;
	font-size: 14px;
	letter-spacing: .5px;
	font-weight: 540;
	border: none;
	padding: 10px;
	position: absolute;
	margin: 15px;
	color: white;
}
.last-div h2{
	text-align: center;
	padding-top: 50px;
	color: #a2a4a6;
	font-weight: 200;
}
.term{
	font-size: 12px;
	padding-left: 65px;
	padding-top: 5px;
	position: absolute;
}
.never{
	padding-left: 15px;
	font-size: 12px;
	padding-top: 70px;
	font-weight: 400;

}
input{
	padding-left: 15px;
}

.header {
    overflow: hidden;
    background-color: #1abc9c;

    /* border-radius: 25px; */
  }
  
  /* Style the header links */
  .header a {
    float: left;
    margin: 10px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover:not([class="logo"]) {
    background-color: white;
    border-radius: 100px;
    margin: 10px;
    color: #1abc9c;
    text-decoration: none;
  }
  .header a:hover {
    border-radius: 100px;
    margin: 10px;
    color: white;
    text-decoration: none;
  }
  
 
  /* Style the active/current link*/
  .header a.active {
    background-color: white;
    border-radius: 100px;
    margin: 10px;
    color: #1abc9c;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .footer-basic {
  padding: 20px 0;
  margin-top: 12%;
  /* margin-bottom: 0%; */
  background-color: whitesmoke;
  color: black;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 9px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  /* opacity:0.8; */
}

/* .footer-basic ul a:hover {
  opacity:1;
} */

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 8px;
  color: inherit;
  /* opacity:0.75; */
}

/* .footer-basic .social > a:hover {
  opacity:0.9;
} */

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: black;
  margin-bottom: 0;
}

 
.break{
  flex-basis: 100%;
        height: 0;
        margin-top: 50px;
}

.fbox1{
  padding-left: 15%; padding-right: 15%; display:flex;flex-wrap: wrap;justify-content: space-between; align-items: center;
}
.line5{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 5px;
  background-color: #1abc9c;
  width: 100%;
}
  