.header {
  overflow: hidden;
  background-color: #1abc9c;

  /* padding: 20px 10px; */
  /* border-radius: 25px; */
}

/* Style the header links */
.header a {
  float: left;
  margin: 10px;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover:not([class="logo"]) {
  background-color: white;
  border-radius: 100px;
  margin: 10px;
  color: #1abc9c;
  text-decoration: none;
}

.header a:hover {
  border-radius: 100px;
  margin: 10px;
  color: white;
  text-decoration: none;
}

.scores {
  text-align: center;

}

/* Style the active/current link*/
.header a.active {
  background-color: white;
  border-radius: 100px;
  margin: 10px;
  color: #1abc9c;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.url {
  position: relative;

}

select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

/* .form__input {
    font-family: 'Roboto', sans-serif;
    color: #040404;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 70%;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
  } */
.form__input {
  font-family: 'Roboto', sans-serif;
  color: #040404;
  border: black solid;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 70%;
  display: block;
  border: 0.1rem solid #1abc9c;
  transition: all 0.3s;
}

/* .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  } */
.button {
  font-family: 'Roboto', sans-serif;
  color: #2c5364;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  /* background-color: rgb(255, 255, 255); */
  border: none;
  width: 20%;
  border-radius: 20px;
  display: block;
  cursor: pointer;
}

.button:hover {
  background-color: #1abc9c;
  color: white;
}

.weburl {
  color: #2c5364;
}

.footer-basic {
  padding: 20px 0;
  margin-top: 12%;
  /* margin-bottom: 0%; */
  background-color: whitesmoke;
  color: black;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 9px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  /* opacity:0.8; */
}

/* .footer-basic ul a:hover {
  opacity:1;
} */

.footer-basic .social {
  text-align: center;
  padding-bottom: 5px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 8px;
  color: inherit;
  /* opacity:0.75; */
}

/* .footer-basic .social > a:hover {
  opacity:0.9;
} */

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: black;
  margin-bottom: 0;
}

 
.break{
  flex-basis: 100%;
        height: 0;
        margin-top: 50px;
}

.fbox1{
  padding-left: 15%; padding-right: 15%; display:flex;flex-wrap: wrap;justify-content: space-between; align-items: center;
}
.line5{
  margin-top: 30px;
  margin-bottom: 30px;
  height: 5px;
  background-color: #1abc9c;
  width: 100%;
}
