<!DOCTYPE html>
<html>
<head>
	<title>disability friendliness feedback form</title>
	<link rel="stylesheet" type="text/css" href="feedback_style.css">
	<script src="https://cdn.jsdelivr.net/npm/axe-core@4.4.0/axe.min.js"></script>
</head>
<body>

	<div class="form">
		<div class="title-div">
			<h1>Disability Friendliness portal</h1>
			<p>Webpage information .</p>
			<p class="required">*Required</p>
		</div>

		<div class="name-div">
			<div class="name">Do you find the text readable on the webpage?<span class="required">*</span></div>

			<!-- <div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div> -->
			<div class="input-div"><input type="radio" name="fav_color" value="Red">not at all readable<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red">little bit readable<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red">Readable<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red">Cleary readable without straining<br></div>
		</div>

		<div class="college-div">
			<div class="name">Enter  your college name.</div>
			<div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div>
		</div>

		<div class="gmail-div">
			<div class="name">Enter  your email.<span class="required">*</span></div>
			<div class="input-div"><input type="input" name="answer" placeholder="Your email"></div>
		</div>

		<div class="mobile-div">
			<div class="name">Enter  your mobile no.</div>
			<div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div>
		</div>

		<div>
			<input class="btn" type="submit" name="Submit">
		</div>

		<div class="last-div">

			<p class="term"></p>
			<h2></h2>
		</div>
		
		




	</div>

</body>
</html>