<!DOCTYPE html>
<html>
<head>
	<title>disability friendliness feedback form</title>

	<link rel="stylesheet" type="text/css" href="feedback_style.css">

</head>
<body>
	<div class="header">
		<a href="#default" class="logo">Disability friendliness webpage</a>
		<div class="header-right">
		  <a href="/">Home</a>
		  <a  href="./contact">Contact us</a>
		  <a class="active" href="./feedback">Feedback</a>
		  <a href="./analytics">Analytics</a>
		  <a href="./resources">Resources</a>
		</div>
	  </div>
	<form action="/submit">
	<div class="form">
		<div class="title-div">
			<h1>Disability Friendliness portal</h1>
			<p style="color: rgb(65, 65, 65);"> The disability friendlily portal is the portal that tells you about how to disable friendly another portal. Our portal uses all three levels of guidelines of WCAG 2.0, and if you prefer, it will tell you how to disable the friendly portal. Technology is something that almost everyone in the world uses, and making them usable and accessible to disabled people is one of the significant initiatives. 

				<br><br> Please help us by giving this helpful feedback. Have a nice day.</p>
			<!-- <p class="required">*Required</p> -->
		</div>

		<div class="name-div">
			<div class="name"> <b> Do you find content to be relevant on the webpage? </b> <span class="required"></span></div>

			<!-- <div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div> -->
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> very relevant<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> yes<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> may be</div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> no<br></div>
		</div>

		<div class="name-div">
			<div class="name"> <b> Do you find the text readable on the webpage? </b> <span class="required"></span></div>

			<!-- <div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div> -->
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> not at all readable<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> little bit readable<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> Readable<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> Cleary readable without straining<br></div>
		</div>

		<div class="name-div">
			<div class="name"> <b> Are you easily able to navigate on our webpage? </b> <span class="required"></span></div>

			<!-- <div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div> -->
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> yes<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> yes,but faced difficulty<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> Little bit issue <br> </div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> Not at all easyily navigable<br></div>
		</div>

		<div class="name-div">
			<div class="name"> <b> Do you face any issue with colour on the webpage? </b> <span class="required"></span></div>

			<!-- <div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div> -->
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> yes<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> yes,but faced difficulty<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> Little bit issue <br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> Serious issue<br></div>
		</div>

		<div class="college-div">
			<div class="name"> <b> On a scale of 1-5, how likely are you to recommend our website to your friends or family? </b><br> <span style="color:red ;"> 1 being least, and 5 most </span>  <span class="required"></span></div>

			<!-- <div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div> -->
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> 1<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> 2<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> 3<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> 4<br></div>
			<div class="input-div"><input type="radio" name="fav_color" value="Red"> 5<br></div>
		</div>
		
		<div class="college-div">
			<div class="name">Enter  your college name.</div>
			<div class="input-div"><input type="input" name="answer" placeholder="Your answer"></div>
		</div>

		<div>
			<input class="btn" type="submit" name="Submit">
		</div>

		<div class="last-div">

			<p class="term"></p>
			<h2></h2>
		</div>
	</div>	
	</form>

</body>
</html>