<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="resource.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Disability</title>
  <script src="https://cdn.jsdelivr.net/npm/axe-core@4.4.0/axe.min.js"></script>
</head>

<body>
  <div class="header">
    <a href="/" class="logo">Disability friendliness webpage</a>
    <div class="header-right">
      <a  href="/">Home</a>
      <a href="./contact">Contact us</a>
      <a href="./feedback">Feedback</a>
      <a href="./analytics">Analytics</a>
      <a class="active" href="./resources">Resources</a>
    </div>
  </div>
  <br>
  <h1 style="text-align: center;"> Guideline Voilated </h1> 
  <ul >
    <% for (var i = 0; i < list.length ; i++) { %>
        <li ><b> <%= vol_des[i][0]%> </b><%= vol_des[i][1]%> : <%=vol_des[i][4] %>  </li>
    <% } %>
  </ul>
  <footer>
  <div class="footer-basic">
    
      <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
            class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
          href="#"><i class="icon ion-social-facebook"></i></a>
    </div>
      <!-- <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul> -->
      <p class="copyright">Company Name © 2022</p>
    
  </div>
</footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>