<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disability</title>
</head>
<body>
    <div class="header">
        <a href="#default" class="logo">Disability friendliness webpage</a>
        <div class="header-right">
          <a class="active" href="/">Home</a>
          <a href="./contact">Contact us</a>
          <a href="./feedback">Feedback</a>
        </div>
      </div>
    </h1>
    <br>
    <form action="/" method="post">
<div class="url" >
    <input class="url_box form__input" type="text" name="url" placeholder="Enter Web page url...">
    <label for="name" class="form__label">Webpage Url</label>
    <button class="button" type="submit" name="submit">calculate disability score</button>
</div>
   
</form>

</body>
</html>